.character-card {
  width: 255px;
  margin: 0 10px;
  margin-bottom: 35px;
  //   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;

  &__header {
    img {
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  &__content {
    padding: 10px 20px;
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__action {
    button {
      position: relative;
      width: 100%;
      height: 55px;
      border: none;
      outline: none;
      color: white;
      font-size: 1.1rem;
      background-color: #e94c88;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      z-index: 1;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #ffc531;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        transition: all 300ms ease-out;
      }

      &:hover {
        color: #e94c88;
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}
